<head>
  <style>
      body{
          background: cyan;
      }
  </style>
</head>
<div class="cart">
  <%= link_to "Моя корзина", "/cart" %>
</div>
<div class="name">
  <%=@product.name %>
</div>
<div class="price">
  Цена:
  <%= @product.price %>
</div>
<div class="description">
  Описание:
  <%= @product.description %>
</div>
<div class="quantity">
  Количество экземпляров на складе:
  <%= @product.quantity %>
</div>
<div>
  <%= form_with url: "/choose_product", action: add_prod(@product), method: :get do |form| %>
    <%= form.submit "Add" %>
  <% end %>
</div>
